[Desktop Entry]
Name=Lucy the Diamond Girl
GenericName=Puzzle game
Comment=Single player puzzle game with a time constraint
Name[fi]=Lucy the Diamond Girl
GenericName[fi]=Pulmapeli
Comment[fi]=Pulmapeli aikarajoituksella
Name[fr]=Lucy the Diamond Girl
Comment[fr]=Un jeu de puzzle à joueur unique avec contrainte de temps

Exec=diamond-girl
Icon=diamond-girl
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;ArcadeGame;
